# Core Backend URL (Use host LAN IP when testing on physical mobile device or emulator)
EXPO_PUBLIC_CORE_API_URL=http://localhost:3000

# Permit non-TLS HTTP for local network development
ALLOW_INSECURE_HTTP=true
