# Dependencies
node_modules/

# Expo / React Native
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Keystores & Certs
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.keystore

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db
